<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>academic</title>
    <link rel="stylesheet" href="/css/Academic.css">
</head>
<body>
<div class="home-main">

    <div class="topNav fix-top">
        <div class="nav scroll bg-white shadow fixed-top">
            <nav class="nav">
                <a href="../index.html">首页</a>
                <a href="AI.html">AI专区</a>
                <a href="https://jha123link.wordpress.com/" target="_blank">博客</a>
                <a href="#">学术专区</a>
                <a href="Programming.html">前端开发</a>
                <a href="upgrade.html">大学生专区</a>
                <a href="software.html">资源下载</a>
            </nav>
        </div>
    </div>
    <div class="nav-scroll bg-white shadow-sm fixed-top" >
        <nav class="nav nav-underline">
            <center>
                <a href="#">学术专区</a>
            </center>
        </nav>
    </div>
    <div class="container" style="max-width: 1600px">
        <center>
            <div class="siteSearch">
                <!--            实现站内搜索-->
                <input type="text" placeholder="站内搜索" class="input-text">
                <button class="searchButton">站内搜索</button>
            </div>
        </center>
        <div id="Academic" class="academicGroup" data-text="学术搜索">
            <div id="academicSearch" class="academic"><br></div>
        </div>
    </div>
</div>



<script src="../code.jquery.com_jquery-3.7.0.js"></script>
<script src="/js/Academic.js"></script>
</body>
</html>