<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/AI.css">
    <title>AI专区</title>
</head>
<body>
<div id="fixedNav"></div>
<div class="home-main">
    <div class="topNav fix-top">
        <div class="nav scroll bg-white shadow fixed-top">
            <nav class="nav">
                <a href="../index.html">首页</a>
                <a href="#">AI专区</a>
                <a href="https://jha123link.wordpress.com/" target="_blank">博客</a>
                <a href="Academic.html">学术专区</a>
                <a href="Programming.html">前端开发</a>
                <a href="upgrade.html">大学生专区</a>
                <a href="software.html">资源下载</a>
                <a href="key.html">激活码</a>

            </nav>
        </div>
    </div>
    <div class="nav-scroll bg-white shadow-sm fixed-top" >
        <nav class="nav nav-underline">
            <center>
            <a href="#app" class="nav-link">AI应用</a>
            <a href="#programming" class="nav-link">AI编程</a>
            <a href="#write" class="nav-link">AI写作</a>
            <a href="#design" class="nav-link">AI设计</a>
            <a href="#draw" class="nav-link">AI作图</a>
            <a href="#model" class="nav-link">AI训练模型</a>
            <a href="#audio" class="nav-link">AI影音</a>
            <a href="#work" class="nav-link">AI效率助手</a>
            </center>
        </nav>
    </div>
    <div class="container" style="max-width: 1600px">

        <center>
            <div class="siteSearch">
                <!--            实现站内搜索-->
                <input type="text" placeholder="站内搜索" class="input-text">
                <button class="searchButton">站内搜索</button>
            </div>
        </center>
        <div id="app" class="AIGroup" data-text="AI应用">
            <div id="aiAPP" class="AI">AI应用<br></div>
        </div>
        <div id="programming" class="AIGroup" data-text="AI编程">
            <div id="aiProgramming" class="AI">AI编程<br></div>
        </div>
        <div id="write" class="AIGroup" data-text="AI写作">
            <div id="aiWrite" class="AI">AI写作<br></div>
        </div>
        <div id="design" class="AIGroup" data-text="AI设计">
            <div id="aiDesign" class="AI">AI设计<br></div>
        </div>
        <div id="draw" class="AIGroup" data-text="AI作图">
            <div id="aiDrawing" class="AI">AI作图<br></div>
        </div>
        <div id="model" class="AIGroup" data-text="AI训练模型">
            <div id="aiModel" class="AI">AI训练模型<br></div>
        </div>
        <div id="audio" class="AIGroup" data-text="AI影音">
            <div id="aiAudio" class="AI">AI影音<br></div>
        </div>
        <div id="work" class="AIGroup" data-text="AI办公">
            <div id="aiWorking" class="AI">AI办公<br></div>
        </div>
    </div>
</div>
<script src="../code.jquery.com_jquery-3.7.0.js"></script>
<script src="/js/AI.js"></script>
<script>
    $(function () {
        $("#fixedNav").load("/components/fixedLayout.html");
    })
</script>
</body>
</html>