<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/css/fixedLayout.css">
    <script src="/code.jquery.com_jquery-3.7.0.js"></script>
</head>
<body>
<div class="fixedLayout">
    <div class="fixed-nav-top">
        <nav class="fixed-nav">
            <nav class="topNav"></nav>
        </nav>
    </div>
</div>
<script>
<!--    获取页面y轴的滚动距离-->
    $(window).scroll(function () {
        const top = $(window).scrollTop();
        if (top > 78) {
            $(".fixed-nav").addClass("show");
        } else {
            $(".fixed-nav").removeClass("show");
        }
    })
</script>
<script src="/js/header.js"></script>
</body>
</html>