<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>header</title>
</head>
<body>
<div class="nav">
    <a href="../index.html">首页</a>
    <a href="/components/AI.html">AI专区</a>
    <a href="https://jha123link.wordpress.com/" target="_blank">博客</a>
    <a href="/components/Academic.html">学术专区</a>
    <a href="/components/Programming.html">前端开发</a>
    <a href="/components/upgrade.html">大学生专区</a>
    <a href="/components/software.html">资源下载</a>
    <a href="/components/key.html">激活码</a>
    <a href="/components/openSource.html">优秀开源项目</a>
    <a href="/components/game.html">h5游戏</a>
</div>
</body>
</html>