<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>激活码</title>
    <link rel="stylesheet" href="/css/key.css">
</head>
<body>
<div id="fixedNav"></div>
<div class="home-main">

    <div class="topNav fix-top">
        <div class="nav scroll bg-white shadow fixed-top">
            <nav class="nav">
                <a href="../index.html">首页</a>
                <a href="/components/AI.html">AI专区</a>
                <a href="https://jha123link.wordpress.com/" target="_blank">博客</a>
                <a href="/components/Academic.html">学术专区</a>
                <a href="/components/Programming.html">前端开发</a>
                <a href="/components/upgrade.html">大学生专区</a>
                <a href="/components/software.html">资源下载</a>
                <a href="#">激活码</a>
            </nav>
        </div>
    </div>
    <div class="nav scroll bg-white shadow fixed-top">
        <nav class="nav nav-underline">
            <center>
                <a href="#jetbrains" class ="jetbrains">jetbrains激活码</a>
                <a href="#sublime" class="sublime">sublime text4激活码</a>
                <a href="#vmware" class="vmware">vmware激活码</a>
                <a href="#openai" class="openai">openai-key</a>
            </center>
        </nav>
    </div>
    <div class="container" >
        <div id="Key1" class="keyGroup" data-text="jetbrains激活码">
            <textarea   cols="100" rows="40" id="jetbrains"></textarea>
        </div>
    </div>

</div>
<script src="/code.jquery.com_jquery-3.7.0.js"></script>
<script src="/js/key.js"></script>
<script>
    $(function () {
        $("#fixedNav").load("/components/fixedLayout.html");
    })
</script>

</body>
</html>