<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="/img/logo.jpg" />
    <title>software</title>
    <link rel="stylesheet" href="/css/software.css">
</head>
<body>
<div id="fixedNav"></div>
<div class="home-main">

    <div class="topNav fix-top">
        <div class="nav scroll bg-white shadow fixed-top">
            <nav class="topNav"></nav>
        </div>
        <div class="nav scroll bg-white shadow fixed-top">
            <nav class="nav nav-underline">
                <center>
                    <a href="#develop">开发工具</a>
                    <a href="#system">系统下载</a>
                </center>
            </nav>
        </div>
    </div>
    <div class="container" style="max-width: 1600px">
        <center>
            <div class="siteSearch">
                <input type="text" placeholder="站内搜素" class="input-text">
                <button class="searchButton">站内搜索</button>
            </div>
        </center>
        <div id="develop" class="softwareGroup" data-text="开发工具">
            <div id="developTools" class="software">开发工具<br></div>
        </div>
        <div id="system" class="softwareGroup" data-text="系统下载">
            <div id="systemDownload" class="software">系统下载<br></div>
        </div>
        <br>
        <div id="foot">
            <span>部分软件进入可直接进入下载页，为了方便下载以下是下载链接:</span><br>
            <a href="https://jha123link.wordpress.com/2023/08/06/%e9%83%a8%e5%88%86%e8%bd%af%e4%bb%b6%e4%b8%8b%e8%bd%bd%e9%93%be%e6%8e%a5/" target="_blank">查看链接</a><br>
            <span>某些软件下载速度太慢，下面也提供了网盘下载地址:</span><br>
            <a href="https://pan.baidu.com/s/1a9_dcMVL2JiNgJKKB1V3Dg?pwd=d6le" target="_blank">百度网盘</a><br>
            <a href="https://www.123pan.com/s/c3rLVv-RJWSv.html" target="_blank">123网盘</a><br>
            <a href="#">阿里云盘</a><br>
            <span>博客的最下面也会有网盘下载链接</span>
        </div>
    </div>
</div>
<script src="../js/code.jquery.com_jquery-3.7.0.js"></script>
<script src="/js/software.js"></script>
<script>
    $(function () {
        $("#fixedNav").load("/components/fixedLayout.html");
    })
</script>
<script src="/js/header.js"></script>
</body>
</html>