<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>大学生专区</title>
<link rel="stylesheet" href="/css/upgrade.css">

</head>
<body>
<div id="fixedNav"></div>
<div class="home-main">
    <div class="topNav fix-top">
        <div class="nav scroll bg-white shadow fixed-top">
            <nav class="topNav"></nav>
        </div>
    </div>
    <div class="nav scroll bg-white shadow fixed-top">
        <nav class="nav nav-underline">
            <div style="text-align: center;">
                <li>高等数学</li>
                <li>线性代数</li>
                <li>微积分</li>
            </div>
        </nav>
    </div>
    <br>
    <div id="video">
        <h2>宋浩老师高等数学<a
                href="https://www.bilibili.com/video/BV1Eb411u7Fw/?p=3&spm_id_from=888.80997.embed_other.whitelist&t=22&vd_source=8798836f64eaa5a8a4b79731f3040bdf"
                target="_blank">点击跳转原地址</a></h2>
        <iframe id="iframe" name="iframe"
                scrolling="no" border="0" frameborder="no" framespacing="0" allowfullscreen="true" width="700"
                height="600"></iframe>

        <div id="list">剧集<br></div>
    </div>
</div>
<script src="../code.jquery.com_jquery-3.7.0.js"></script>
<script src="/js/upgrade.js"></script>
<script>
    $(function () {
        $("#fixedNav").load("/components/fixedLayout.html");
    })
</script>
<script src="/js/header.js"></script>
</body>
</html>